a {
    text-decoration: none;
    color: #8ea0af;
}

::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: #9e9e9e;
    border-radius: 4px;
}

.loading-result,
.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #141432;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-result p,
.loading p {
    font-size: 24px;
    margin: 20px;
    font-weight: bold;
}

.product-detail-center {
    display: flex;
}

.product-detail-center>div:first-child {
    width: 29%;
}

.product-detail-center>div:first-child img {
    width: 100%;
}

.product-detail-center>div:last-child>div {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}